# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Conda
.env
conda-meta/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Google credentials (if any)
*.json

# Large PDFs (optional)
data/*.pdf